--protected
--no-private
--markup-provider=redcarpet
--markup=markdown
--embed-mixin ClassMethods
--plugin activesupport-concern
--plugin delegate
-
CHANGELOG.md
HUMANS.md
LICENSE
README.md
SECURITY.md
